/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Root Variables */
:root {
  --color-primary: #667eea;
  --color-primary-dark: #5a67d8;
  --color-secondary: #38b2ac;
  --color-secondary-light: #b2f5ea;
  --color-secondary-dark: #285e61;
  --color-white: #ffffff;
  --color-black: #1a202c;
  --color-sidebar: #2d3748;
  --color-gray: #a0aec0;
  --color-gray-light: #e2e8f0;
  --color-gray-dark: #718096;
  --radius-sm: 8px;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
}
/* Typography */
html {
  font-size: 62.5%;
}
body,
a {
  font-size: 1.4rem;
  color: var(--color-gray-dark);
}
h2,
h3 {
  color: var(--color-black);
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
/* Layout */
.main {
  height: 100vh;
  background-color: var(--color-gray-light);
}
.sidebar {
  display: none;
  height: 100vh;
  background-color: var(--color-sidebar);
}
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px 1fr;
  }
  .sidebar {
    display: block;
    grid-row: 1/-1;
    grid-column: 1/2;
  }
}
/* Main-Header */
.main-header {
  background-color: white;
  padding: 2rem;
}
.search {
  display: inline-block;
  background-color: var(--color-gray-light);
  border-radius: var(--radius-sm);
  overflow: hidden;
}
.search__icon {
  padding: 1rem 0 1rem 1rem;
}
.search__input {
  border: 0;
  outline: 0;
  background-color: var(--color-gray-light);
  padding: 1rem;
}
